<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="">MIS REQUEST</a>
    </div>
    <button class="menu btn" id="menu"><i class="fa fa-bars"></i></button>

    <ul class="navlinks" id="navlinks">
      <li class="navitem"><a href="/users">User</a></li>
      <li class="navitem"><a href="/offices">Office</a></li>
      <li class="navitem">
        <a href="/requests">Requests</a>
        <ul class="navitemdrop">
          <li><a href="/requests/new">New Request</a></li>
          <li><a href="/requests/all">All</a></li>
          <li><a href="/requests/?status=pending">Pending</a></li>
          <li><a href="/requests/?status=cancelled">Cancelled</a></li>
          <li><a href="/requests/?status=completed">Completed</a></li>
          <li><a href="/requests/?status=inprogress">In progress</a></li>
        </ul>
      </li>
      <li class="navitem">
        <a href="">Personnels</a>
        <ul class="navitemdrop">
          <li><a href="">Nicko</a></li>
          <li><a href="">Javyee</a></li>
          <li><a href="">Dexter</a></li>
          <li><a href="">Orven</a></li>
          <li><a href="">Ernani</a></li>
        </ul>
      </li>
    </ul>

    <div class="navside">
      <% if(currentUser) { %>

      <!-- <img src="" alt="" /> -->
      <a class="abtn" href="/profile"><%= currentUser.first %></a>

      <a class="abtn" href="/logout">LOGOUT</a>
      <% } else { %>
      <a class="abtn" href="/register">REGISTER</a>
      <a class="abtn" href="/login">LOGIN</a>
      <% } %>
    </div>
  </nav>
</header>
