<header class="header">


  <nav class="nav">
  
      <div class="logo">
         <a href="">MIS REQUEST</a> 
      </div>
  <button class="menu btn" id="menu"><i class="fa fa-bars"></i></button>
  
  <ul class="navlinks" id="navlinks">
      <li class="navitem"><a href="">User</a></li>
      <li class="navitem"><a href="">Office</a></li>
      <li class="navitem"><a href="">Requests</a>
          <ul class="navitemdrop">
              <li><a href="">All</a></li>
              <li><a href="">Pending</a></li>
              <li><a href="">Cancelled</a></li>
              <li><a href="">Completed</a></li>
              <li><a href="">In progress</a></li>
          </ul>
      </li>
      <li class="navitem"><a href="">Personnels</a>
          <ul class="navitemdrop">
              <li><a href="">Nicko</a></li>
              <li><a href="">Javyee</a></li>
              <li><a href="">Dexter</a></li>
              <li><a href="">Orven</a></li>
              <li><a href="">Ernani</a></li>
          </ul>
      </li>
      <button class="btn">Donate</button>
  </ul>
  </nav>
  
  
  </header>