<header class="header">
  <nav class="nav">
    <div class="logo">
      <a href="">
        <i class="fa-duotone" style="color:black">
MIS REQUEST</i>
      </a>
    </div>
    <button class="menu btn" id="menu"><i class="fa fa-bars"></i></button>

    <ul class="navlinks" id="navlinks">
      <% if (currentUser) {%>
      <% if (currentUser.is_admin) { %>  <li class="navitem"><a href="/users">User</a></li> <% } %> 
      <% if (currentUser.is_admin) { %>  <li class="navitem"><a href="/offices">Office</a></li> <%  } %> 
      <% } %> 
      <!-- <li class="navitem">
        <a href="/requests/today">Requests</a>
        <ul class="navitemdrop">
          <li><a href="/requests/new">New Request</a></li>
          <li><a href="/requests/status/all">All</a></li>
          <li><a href="/requests/status/pending">Pending</a></li>
          <li><a href="/requests/status/cancelled">Cancelled</a></li>
          <li><a href="/requests/status/completed">Completed</a></li>
          <li><a href="/requests/status/to-rate">To Rate</a></li>
        </ul>
      </li> -->
      <!-- <li class="navitem">
        <a href="">Personnels</a>
        <ul class="navitemdrop">
          <li><a href="">Nicko</a></li>
          <li><a href="">Javyee</a></li>
          <li><a href="">Dexter</a></li>
          <li><a href="">Orven</a></li>
          <li><a href="">Ernani</a></li>
        </ul>
      </li> -->
    </ul >


    <div class="navside">
      <ul  class="navlinks"> 
      <% if(currentUser) { %>
           <li class="navitem"><a class="anavlink" href="/profile"> <i class="fa-solid fa-user"></i> <%= currentUser.first %></a>
            <% if (currentUser.is_admin || currentUser.is_head || currentUser.is_personnel) { %>
            <ul class="navitemdrop">      
         <% if (currentUser.is_admin) { %>  <li><a href="/admin">As Admin</a></li> <% } %> 
         <% if (currentUser.is_head) { %> <li><a href="/admin">As Office Head</a></li><% } %> 
          <% if (currentUser.is_personnel) { %> <li><a href="/personnel">As Personnel</a></li><% } %> 
        </ul>
        <% } %> 
        </li>
      <li class="navitem"> <a class="anavlink" href="/logout"><i class="fa-solid fa-arrow-right-from-bracket"></i> Logout</i></a></li>
      <% } else { %>
        <li class="navitem"> <a class="abtn" href="/register">REGISTER</a></li> 
        <li class="navitem"> <a class="abtn" href="/login">LOGIN</a></li> 
      <% } %>
    </ul>
    </div>
  </nav>
</header>
