<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=
, initial-scale=1.0"
    />
    <title>Job Request</title>
    <script
      src="https://kit.fontawesome.com/e717fb5345.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <i class="fa-solid fa-pen-field"></i>
    <%- include('../partials/navbar') %> <%- include('../partials/flash') %>
    <main class="main"><%- body %></main>

    <%- include('../partials/footer') %>

    <script src="/js/script.js"></script>
  </body>
</html>
