<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/office_home.css">


<h1><%= user.office.name %> </h1>

<div class="staff">
    <div class="head">
        <div class="member">
            <img src="" alt="">
            <h4>Engr. Romeo Toronon. Corsiga</h4>
            <p>HEAD</p>
        </div>
    </div>
    <div class="members">
        <div class="member">
            <img src="" alt="">
            <h4>Fullname</h4>
            <p>Position</p>
        </div>
    </div>

</div>

<h3>Functions</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero incidunt facere modi, quidem odit earum qui quaerat porro vero nostrum!</p>






<a href="/offices/<%= user.office._id%>/jobs"> see jobs</a>
<h1>home</h1>