<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/table.css" />
<h2>
  <h1>All Users</h1>
</h2>
<div class="table-wrapper">
  <table class="fl-table">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% for( let office of offices) {%>
      <tr>
        <td><%= office.code %></td>
        <td><%= office.name %></td>
        <td>
          <button class="btn">Edit</button> <button class="btn">Delete</button>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
