<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/form.css" />

<div class="container">
  <h2 class="form-title">CREATE NEW OFFICE</h2>

  <form action="/offices/new" method="POST">
    <div class="form-control">
      <input type="text" name="code" required />
      <label>Office code</label>
    </div>

    <div class="form-control">
      <input type="text" name="name" required />
      <label>Office name</label>
    </div>

    <div class="form-control">
      <input type="text" name="head" required />
      <label>Office head</label>
    </div>

    <button class="formbtn">Save</button>
  </form>
</div>

<script src="/js/form.js"></script>
