<%- layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/form.css" />

<div class="container wide">
  <h1>New Request</h1>

  <form action="/requests" method="POST">
    <div class="form-control">
      <select name="category" id="category" required>
        <option value=""></option>
        <option value="Submit Grades">Submit Grades</option>
        <option value="Network/Internet">Network/Internet</option>
        <option value="Website/Posting">Website/Posting</option>
        <option value="Hardware Troubleshooting">
          Hardware Troubleshooting
        </option>
        <option value="Software">Software</option>
        <option value="UIS">UIS</option>
      </select>
      <label for="category">Category</label>
    </div>

    <div class="form-control">
      <input type="text" name="nature" required />
      <label>Nature of Request</label>
    </div>

    <!-- <div class="form-control">
      <input type="file" name="requester" id="requester" required />
    </div> -->

    <button class="formbtn">Post</button>
  </form>
</div>
<script src="/js/form.js"></script>
