
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.modal {
    position: absolute;
    top:0;
    left:0;
background-color: rgba(0,0,0,0.7);
    width: 100vw;
    height: 100vh;
     z-index: 4; 
    display: flex;
    justify-content: center;
    visibility: hidden;
    pointer-events: none;
}
.modal.show {
    visibility: visible;
    pointer-events: auto;
}

.modal-container {
width: 300px;
height: 200px;
background-color: white;
display: flex;
flex-direction:column;
align-items:center;
justify-content: center;
border-radius: 10px;
margin-top: 30vh;
box-shadow: var(--box3da);
position: relative;
/* pointer-events: none; */
}
.modal-container .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
cursor: pointer;
}
.modal-container .close :hover {
color:red;

}



.modal-container .close i{
padding:0;
margin:0;

}

.modal-container .buttons {
    margin-top: 1rem;
}