/* angela delise
template

primary      #16a085
primary-hover #fce4ec
primary-dark #ec407a
gray-100 #f9fbff
gray-150 #f4f6fb
gray-200 #eef1f6
gray-300 #e1e5ee
gray-400 #767b91
gray-500 #4f546c
gray-600 #2a324b
gray-700 #161d34

radius 0.2rem
box-shadow: 0 0 10px #e1e5ee;

*,
*::before,
*::after {
box-sizing:border-box;
margin:0;
padding:0; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary:#16a085;
    --primary-hover: #2ecc71;
    --white: #fff;
    --black: #000;
    --gray1:#ecf0f1;
    --gray2: #bdc3c7;
    --gray3:#95a5a6;
    --gray4:#7f8c8d;
    --red: #e74c3c;
    --green: #2ecc71;

 --box-shadow:0 0 10px #e1e5ee;
 --border-radius: 0.2rem;
  }
  
*,
*::before,
*::after {
box-sizing:border-box;
margin:0;
padding:0;
}

p {
    margin:0;
    padding:0;
}
html {
    padding:0;
    margin:0;
}
body  {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray1);
    display: flex;
flex-direction: column;
color:black;
width: 100vw;
height:100vh;

}
.header {
    background-color: var(--white);
   
    display: fixed;
    top:0;
left:0;
    width: 100%;

    box-shadow: var(--box-shadow);
}

.nav {
display: flex;
align-items: center;
justify-content: space-between;
width: 80%;
margin: 0  auto;
font-weight: bold;
height: 7vh;

}

a {
    text-decoration: none;
    color:black;
}
.abtn {
    padding: 0.2rem 1rem;
    font-weight: bold;
    font-family: inherit;

background-color:#161d34 ;
color:white;
border :0;
border-radius: var(--border-radius);
cursor:pointer;
text-align: center;
text-decoration: none;
margin-left: 1rem;




}

.btn {
    padding: 0.2rem 1rem;
    font-weight: bold;
    font-family: inherit;
    margin:0;
background-color:#161d34 ;
color:white;
border :0;
border-radius: var(--border-radius);
cursor:pointer;
}
.btn:hover {
  color:  #ec407a;
 background-color: var(--gray1) ;

}

.menu {
    display: none;
}
.navlinks {
    display: flex;
    align-items: center;
}
.navitem{
    list-style: none;
    position:relative;
    padding: 1rem;
}

.navitem a:hover {
   color:#16a085;
   
    /* color:red; */
}

.navitem:hover .navitemdrop,.navitem:focus .navitemdrop{
    visibility: visible;
    opacity: 1;
    display: block;
  
}

.navitemdrop{
    font-size: 0.9rem;
visibility: hidden;
    list-style: none;
position:absolute;
left: 0.3rem;
top: 3rem;
background-color: white;
box-shadow: 0 0 10px #e1e5ee;
width: 12rem;
 padding: 0.5rem 0.5rem; 
opacity: 0;
border-radius: 0.2rem;


}

.navitemdrop li , .navitemdrop li a{
 
    padding: 0.2rem 0.8rem;
width: 100%;
text-align: left;
 }

.navitemdrop li:hover a{
    border-radius: 0.2rem;
background-color: #16a085;
color:white;
}

.main {
    width: 80%;
    margin: 0 auto;
    /* height: 100%; */
/* display: flex; */
flex:1;
/* flex-direction: column; */
/* align-items: center;
justify-content: center; */

}

.atoggle {
    font-weight: bold;
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    color:white;
    background-color: var(--gray3);
}
.atoggle.active {
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary);
    padding: 0.2rem 1rem;
    border-radius: 10px;
    color:white;
}

.atoggle:hover {
 transform:scale(1.02);


}

.footer {
    margin-top: auto;
    padding:0;
    text-align: center;
    background-color: var(--black);
    color:var(--white);
    height: 10%;
}

.profile-container {
width: 100%;
margin-top: 1rem;
display: flex;

height: 95%;
}

.profile-container .side-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 40px;
    color:var(--black);
    min-width: 15rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    position: relative;
    margin-right: 0.5rem;

}
.profile-container  .content-card {
 
    color:var(--black);
    flex:1;

    /* background-color: white; */
    border-radius: 20px;
 
    position: relative;
    display: flex;
flex-direction: column;    
}


.profile-img {
    background-color: blue;
 width: 10rem;
 height: 10rem;;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
}
.profile-name {
    letter-spacing: 1px;
    margin-top: 1rem;
font-family: inherit;
font-weight: bold;
font-size: 1.5rem;

}

.profile-details {
    margin-top: 1rem;
}


.content-header {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;

}
.content-main {
    background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
margin-top: 0.5rem;
    padding: 1rem 3rem;
    flex:1;
}


.card {
    color:var(--black);
    padding: 1rem 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative;
}

.mt {
    margin-top: 2rem;
}


.card.smallwidth {
    color:var(--black);
    width: 20%;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}




.alert {
    color:var(--black);
    /* padding: 1rem 2rem; */
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 40%;

    display: flex;
    flex-direction: column;
    margin: 5rem auto;
    padding: 0.5rem 2rem;
    text-align: center;
}

.alert.top {

    /* padding: 1rem 2rem; */
    background-color: var(--green);
    color:white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin:0;

}

.alert .red {
    font-size: 2rem;
    font-weight: bold ;
    color:var(--red);
}
.alert .green {
    font-size: 2rem;
    font-weight: bold ;
    color:var(--green);
 
}
.alert .text {
    color:var(--black);
    text-align: left;
    color:black;
}


















  @media screen and (max-width: 520px) {

    body {
      background-color: olive;
    }

 header {
    padding: 1rem;

 }
 .logo {
    float:left;
    width: 100%;
 }
 .nav {
    width: 100%;
 
flex-direction: column;
 }

 .menu  {
    position: absolute;
right:1rem;
top:1rem;
display:  inline-block;
 }
   
    .navlinks {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        display: none;
        
flex-direction: column;
        }
        .navlinks.show {
            display:block
        }

    .navitem {
    padding: 0;
    position:static;

    }

 .navitemdrop  {
      display: none;
      width: 100%;
text-align: center;
border: none;
visibility: none;
opacity: 0;
     }

    .navitem:hover .navitemdrop,.navitem:focus .navitemdrop{
        display: block;
        visibility: visible;
        position: static;
        opacity: 1;
 
    }
    



  }
