/* angela delise
template

primary      #16a085
primary-hover #fce4ec
primary-dark #ec407a
gray-100 #f9fbff
gray-150 #f4f6fb
gray-200 #eef1f6
gray-300 #e1e5ee
gray-400 #767b91
gray-500 #4f546c
gray-600 #2a324b
gray-700 #161d34

radius 0.2rem
box-shadow: 0 0 10px #e1e5ee;

*,
*::before,
*::after {
box-sizing:border-box;
margin:0;
padding:0; */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --primary:#16a085;
    --primary-hover: #2ecc71;
    --white: #fff;
    --black: #000;
    --gray1:#ecf0f1;
    --gray2: #bdc3c7;
    --gray3:#95a5a6;
    --gray4:#7f8c8d;
    --red: #e74c3c;
    --green: #2ecc71;
    --flash_back: #ffeaa7;


 --box-shadow:0 0 10px #e1e5ee;
 --border-radius: 0.2rem;

 --box3d:-7px -7px 20px #fff9,
-4px -4px 5px #fff9,
7px 7px 20px #0002,
4px 4px 5px #0001,
inset 0 0 0 0#fff9,
 inset 0 0 0 0#0001,
inset  0 0 0 0 #fff9,
 inset 0 0 0 0#0001;

--box3da: : 0 0 0 0#fff9,
0 0 0 0 #fff9,
0 0 0 0#0001,
0 0 0 0 #0001,

inset -7px -7px 20px #fff9,
inset -4px -4px 5px #fff9,
inset 7px 7px 20px #fff3,
inset 4px 4px 5px #fff1;
}
  }
  
*,
*::before,
*::after {
box-sizing:border-box;
margin:0;
padding:0;
}

p {
    margin:0;
    padding:0;
}
html {
    padding:0;
    margin:0;
}
body  {
    padding:0;
    margin:0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--gray1);
    display: flex;
flex-direction: column;
color:black;
width: 100vw;
height:100vh;

}
.header {
    background-color: var(--white);
   
    display: fixed;
    top:0;
left:0;
    width: 100%;

    box-shadow: var(--box-shadow);
}

.nav {
display: flex;
align-items: center;
justify-content: space-between;
width: 80%;
margin: 0  auto;
font-weight: bold;
height: 7vh;

}

a {
    text-decoration: none;
    color:black;
}
.abtn {
    padding: 0.2rem 1rem;
    font-weight: bold;
    font-family: inherit;

background-color:#161d34 ;
color:white;
border :0;
border-radius: var(--border-radius);
cursor:pointer;
text-align: center;
text-decoration: none;
margin-left: 1rem;




}

.btn {
    padding: 0.2rem 1rem;
    font-weight: bold;
    font-family: inherit;
    margin:0;

border :0;
border-radius: var(--border-radius);
cursor:pointer;

color:  var(--gray1);
background-color: var(--gray4) ;
}
.btn:hover {
    /* background-color:#161d34 ;
    color:white; */
transform: scale(0.9);
}
.btn.danger {
    background-color: red;
}


.menu {
    display: none;
}
.navlinks {
    display: flex;
    align-items: center;
}
.navitem{
    list-style: none;
    position:relative;
    padding: 1rem;
}

.navitem a:hover {
   color:#16a085;
   
    /* color:red; */
}

.navitem:hover .navitemdrop,.navitem:focus .navitemdrop{
    visibility: visible;
    opacity: 1;
    display: block;
  
}

.navitemdrop{
    font-size: 0.9rem;
visibility: hidden;
    list-style: none;
position:absolute;
left: 0.3rem;
top: 3rem;
background-color: white;
box-shadow: 0 0 10px #e1e5ee;
width: 12rem;
 padding: 0.5rem 0.5rem; 
opacity: 0;
border-radius: 0.2rem;
z-index:10;

}

.navitemdrop li , .navitemdrop li a{
 
    padding: 0.2rem 0.8rem;
width: 100%;
text-align: left;

 }

.navitemdrop li:hover a{
    border-radius: 0.2rem;
background-color: #16a085;
color:white;
}

.main {
    width:90%;

    margin: 0.5rem auto;

    /* height: 100%; */
/* display: flex; */
/* flex:1; */
/* flex-direction: column; */
/* align-items: center;
justify-content: center; */

}

.atoggle {
    font-weight: bold;
    cursor: pointer;
    padding: 0.2rem 1rem;
    border-radius: 10px;
    color:var(--gray4);
    
  
}
.atoggle.active {
    font-weight: bold;
    cursor: pointer;
    background-color:var(--primary);
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    color:white;
    box-shadow: var(--box3da);
   pointer-events: none;
   cursor: pointer;
 
}

.atoggle:hover {
 transform:scale(1.02);
 color: #4FC3A1;
}
.atoggle.active:hover {
 color:white;
   }
   

.footer {
    margin-top: auto;
    padding:0;
    text-align: center;
    background-color: var(--black);
    color:var(--white);
    height: 10%;
}

.profile-container {
    z-index: 0;
width: 100%;
margin-top: 1rem;
display: flex;
background-color: var(--gray1);
flex:1;


}

.profile-container .side-card {

    text-align: center;
margin-right: 2rem;
    color:var(--black);
    min-width: 20%;

    border-radius: 20px;
    /* box-shadow: var(--box3da); */

    text-align: left;
    display: flex;
 flex-direction: column;
 overflow: hidden;

}

.profile-container  .content-card {
 
    color:var(--black);
    flex:1;
min-width: 80%;
    /* background-color: white; */
    border-radius: 20px;
 
    position: relative;
    display: flex;
flex-direction: column;    
}

 .card.profile {
background-color: white;
    text-align: center;

    color:var(--black);
  
width: 12rem;
height: 12rem;
    border-radius: 20px 20px 5px 5px;
     box-shadow: var(--box3da); 

    text-align: left;
position: relative;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;



}

.profile-img {
    
    background-color: white;
 width: 12rem;
 height:12rem;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
    /* margin: 0 auto; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.profile-img img {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    object-fit: center fill;
    box-shadow: var(--box-shadow);
}

.profile-name {
    letter-spacing: 1px;
    /* margin-top: 1rem; */
font-family: inherit;
font-weight: bold;
font-size: 1.5rem;
color:gray;
text-shadow: 2px 2px rgba(0,0,0,0.2);
position: absolute;
}

.profile-details {
    margin-top: 2px;
}


.content-header {
    background-color: transparent;
    border-radius: 20px 20px 0 0;
    /* box-shadow: var(--box-shadow); */
    display: flex;
    align-items: center;
padding: 1rem 1rem 0 1rem;

box-shadow:var(--box3da);
}

.content-main {
    /* background-color: white;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
margin-top: 0.5rem;
    padding: 1rem 3rem; */
    flex:1;
    display: flex;
    flex-direction: column;
    max-width: 100%;

}


.request {
    background-color: var(--gray2);
    border-radius: 20px;
    border: 0;
    margin: 0.2rem 0 ;
    padding: 1rem;
    box-shadow:var(--box-shadow);
    display: flex;
}
.divflex {
display: flex;
}
.divflex.w100 {
    display: flex;


}
.divflex.w95 {
        display: flex;
        width: 95%;
  
 }
 .divflex.w90 {
    display: flex;
    width: 90%;
   
}
.divflex.w80 {
    display: flex;
    width: 80%;

}


.divflex.aic.jcsb {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    
.divflexc {
display: flex;
flex-direction: column;

}

.tag{
    padding: 2px 10px;
    background-color: #e74c3c;
    color:white;
    font-size: 0.7rem;
    border-radius: 10px;
    font-weight: bold;
    letter-spacing: 2px;
}

.office{
    color:var(--primary);
    text-transform: uppercase;
font-size: 0.7rem;
    padding: 2px 10px;
}

.nature {
   padding: 0 1rem;

}
.nature p {
    text-align: left;
    letter-spacing: 0;
    font-family: inherit;
}





.card {
    color:var(--black);
    padding: 1rem 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

}

.mt {
    margin-top: 2rem;
}


.card.smallwidth {
    color:var(--black);
    width: 20%;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}



.page-container {
    width: 100%;
    margin: 1rem 70px;

}








  @media screen and (max-width: 520px) {

    body {
      background-color: olive;
    }

 header {
    padding: 1rem;

 }
 .logo {
    float:left;
    width: 100%;
 }
 .nav {
    width: 100%;
 
flex-direction: column;
 }

 .menu  {
    position: absolute;
right:1rem;
top:1rem;
display:  inline-block;
 }
   
    .navlinks {
        width: 100%;
        text-align: center;
        letter-spacing: 2px;
        display: none;
        
flex-direction: column;
        }
        .navlinks.show {
            display:block
        }

    .navitem {
    padding: 0;
    position:static;

    }

 .navitemdrop  {
      display: none;
      width: 100%;
text-align: center;
border: none;
visibility: none;
opacity: 0;
     }

    .navitem:hover .navitemdrop,.navitem:focus .navitemdrop{
        display: block;
        visibility: visible;
        position: static;
        opacity: 1;
 
    }
    



  }
