<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/css/form.css" />

<div class="container">
  <h2 class="form-title">CREATE ACCOUNT</h2>
  <form action="/register" method="POST">
    <div class="form-control">
      <select name="office" id="office" required>
        <option value=""></option>
        <% for(let office of offices) { %>
        <option value="<%= office._id %>"><%= office.name %></option>
        <% } %>
      </select>
      <label for="office" class="form-label">Select office</label>
    </div>

    <div class="form-control">
      <input type="text" name="last" required />
      <label>Last name</label>
    </div>

    <div class="form-control">
      <input type="text" name="first" required />
      <label>First name</label>
    </div>

    <div class="form-control">
      <input type="text" name="username" required />
      <label>Username</label>
    </div>

    <div class="form-control">
      <input type="password" name="password" required />
      <label>Password</label>
    </div>
    <div class="form-control">
      <input type="password" name="password2" required />
      <label>Confirm password</label>
    </div>

    <button class="formbtn">Create Account</button>
  </form>
</div>

<script src="/js/form.js"></script>
